{{!
 *   HORTONWORKS DATAPLANE SERVICE AND ITS CONSTITUENT SERVICES
 *
 *   (c) 2016-2018 Hortonworks, Inc. All rights reserved.
 *
 *   This code is provided to you pursuant to your written agreement with Hortonworks, which may be the terms of the
 *   Affero General Public License version 3 (AGPLv3), or pursuant to a written agreement with a third party authorized
 *   to distribute this code.  If you do not have a written agreement with Hortonworks or with an authorized and
 *   properly licensed third party, you do not have any rights to this code.
 *
 *   If this code is provided to you under the terms of the AGPLv3:
 *   (A) HORTONWORKS PROVIDES THIS CODE TO YOU WITHOUT WARRANTIES OF ANY KIND;
 *   (B) HORTONWORKS DISCLAIMS ANY AND ALL EXPRESS AND IMPLIED WARRANTIES WITH RESPECT TO THIS CODE, INCLUDING BUT NOT
 *     LIMITED TO IMPLIED WARRANTIES OF TITLE, NON-INFRINGEMENT, MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE;
 *   (C) HORTONWORKS IS NOT LIABLE TO YOU, AND WILL NOT DEFEND, INDEMNIFY, OR HOLD YOU HARMLESS FOR ANY CLAIMS ARISING
 *     FROM OR RELATED TO THE CODE; AND
 *   (D) WITH RESPECT TO YOUR EXERCISE OF ANY RIGHTS GRANTED TO YOU FOR THE CODE, HORTONWORKS IS NOT LIABLE FOR ANY
 *     DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, PUNITIVE OR CONSEQUENTIAL DAMAGES INCLUDING, BUT NOT LIMITED TO,
 *     DAMAGES RELATED TO LOST REVENUE, LOST PROFITS, LOSS OF INCOME, LOSS OF BUSINESS ADVANTAGE OR UNAVAILABILITY,
 *     OR LOSS OR CORRUPTION OF DATA.
}}

{{#if loaded}}
  <table class='detail-list'>
    <thead>
      <tr>
        <th colspan=2>Details</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td colspan="2">
          {{bs-button icon="fa fa-download" title="Download data" defaultText="Download data" type="info"}}
        </td>
      </tr>
      <tr>
        <td>Application ID</td>
        <td>
          {{#link-to 'app' model.appID class='ember-table-content'}}
            {{model.appID}}
          {{/link-to}}
        </td>
      </tr>
      <tr>
        <td>ID</td>
        <td>{{model.entityID}}</td>
      </tr>
      <tr>
        <td>Name</td>
        <td>{{model.name}}</td>
      </tr>
      <tr>
        <td>Submitter</td>
        <td>{{model.submitter}}</td>
      </tr>
      <tr>
        <td>Status</td>
        <td>{{em-table-status-cell content=model.status}}</td>
      </tr>
      <tr>
        <td>Progress</td>
        <td>{{em-table-progress-cell content=model.progress}}</td>
      </tr>
      <tr>
        <td>Start Time</td>
        <td>{{date-formatter content=model.startTime}}</td>
      </tr>
      <tr>
        <td>End Time</td>
        <td>{{date-formatter content=model.endTime}}</td>
      </tr>
      <tr>
        <td>Duration</td>
        <td>{{txt model.duration type="duration"}}</td>
      </tr>
      <tr>
        <td>Queue</td>
        <td>{{txt model.queue}}</td>
      </tr>
      <tr>
        <td>Logs</td>
        <td>
          {{em-table-linked-cell content=model.containerLogs definition=logLinkDefinition}}
        </td>
      </tr>
    </tbody>
  </table>
{{else}}
  {{partial "loading"}}
{{/if}}

<!--
  * Splitting the conditional blocks so that stats from inside the outlet,
    is aligned with the details table.
  * Keeping outlet outside the conditional block so that the loading of DAG
    details doesn’t affect the outlet content.
-->
<span class="{{unless loaded 'no-visible'}}">
  {{outlet}}
</span>

{{#if loaded}}
  {{#if model.callerDescription}}
    {{caller-info type=model.callerContext info=model.callerDescription}}
  {{/if}}

  {{#if model.diagnostics}}
    <div class="panel panel-danger">
      <div class="panel-heading">
        Diagnostics
      </div>
      <div class="diagnostics">
        {{{model.diagnostics}}}
      </div>
    </div>
  {{/if}}
{{/if}}
