{{!
 *   HORTONWORKS DATAPLANE SERVICE AND ITS CONSTITUENT SERVICES
 *
 *   (c) 2016-2018 Hortonworks, Inc. All rights reserved.
 *
 *   This code is provided to you pursuant to your written agreement with Hortonworks, which may be the terms of the
 *   Affero General Public License version 3 (AGPLv3), or pursuant to a written agreement with a third party authorized
 *   to distribute this code.  If you do not have a written agreement with Hortonworks or with an authorized and
 *   properly licensed third party, you do not have any rights to this code.
 *
 *   If this code is provided to you under the terms of the AGPLv3:
 *   (A) HORTONWORKS PROVIDES THIS CODE TO YOU WITHOUT WARRANTIES OF ANY KIND;
 *   (B) HORTONWORKS DISCLAIMS ANY AND ALL EXPRESS AND IMPLIED WARRANTIES WITH RESPECT TO THIS CODE, INCLUDING BUT NOT
 *     LIMITED TO IMPLIED WARRANTIES OF TITLE, NON-INFRINGEMENT, MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE;
 *   (C) HORTONWORKS IS NOT LIABLE TO YOU, AND WILL NOT DEFEND, INDEMNIFY, OR HOLD YOU HARMLESS FOR ANY CLAIMS ARISING
 *     FROM OR RELATED TO THE CODE; AND
 *   (D) WITH RESPECT TO YOUR EXERCISE OF ANY RIGHTS GRANTED TO YOU FOR THE CODE, HORTONWORKS IS NOT LIABLE FOR ANY
 *     DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, PUNITIVE OR CONSEQUENTIAL DAMAGES INCLUDING, BUT NOT LIMITED TO,
 *     DAMAGES RELATED TO LOST REVENUE, LOST PROFITS, LOSS OF INCOME, LOSS OF BUSINESS ADVANTAGE OR UNAVAILABILITY,
 *     OR LOSS OR CORRUPTION OF DATA.
}}

{{#if loaded}}
  {{#if model.query1}}
    {{#if dataAvailableForQuery1}}
      <div class="swimlane-page">
        <div class="button-panel">
          <div class="zoom-range">
            {{zoomQuery1}}%
            {{input type="range" value=zoomQuery1 min=100 max=1000}}
          </div>
          <i class='fa fa-expand fa-border' {{action 'toggleFullscreen' 0}} title="Toggle fullscreen"></i>
          <i class='fa fa-compress fa-border' {{action 'toggleFullscreen' 0}} title="Toggle fullscreen"></i>
        </div>
        <div>
        <h4>Swimlane - A</h4>
        {{em-swimlane
        columns=visibleColumns
        processes=processes1
        nameComponent="em-swimlane-vertex-name"
        zoom=zoomQuery1
        click="click"
        consolidate=true
        }}
        </div>
    </div>
    {{else}}
      <h2>Data not available to display swimlane for a running DAG!</h2>
      <h4>You may be using an older version of Tez. Vertex Swimlanes are not supported for DAGs that have not yet completed in older versions of Tez.<br/> Please check back later to look at the Swimlane after the DAG has completed.</h4>
    {{/if}}
  {{else}}
    <h2>Data not available to display swimlane for query1!</h2>
    <h4>No vertex data found!</h4>
  {{/if}}

  {{#if model.query2}}
    {{#if dataAvailableForQuery2}}
      <div class="swimlane-page">
        <div class="button-panel">
          <div class="zoom-range">
            {{zoomQuery2}}%
            {{input type="range" value=zoomQuery2 min=100 max=1000}}
          </div>
          <i class='fa fa-expand fa-border' {{action 'toggleFullscreen' 1}} title="Toggle fullscreen"></i>
          <i class='fa fa-compress fa-border' {{action 'toggleFullscreen' 1}} title="Toggle fullscreen"></i>
        </div>
        <div>
        <h4>Swimlane - B</h4>
        {{em-swimlane
        columns=visibleColumns
        processes=processes2
        nameComponent="em-swimlane-vertex-name"
        zoom=zoomQuery2
        click="click"
        consolidate=true
        }}
        </div>
    </div>
    {{else}}
      <h2>Data not available to display swimlane for a running DAG!</h2>
      <h4>You may be using an older version of Tez. Vertex Swimlanes are not supported for DAGs that have not yet completed in older versions of Tez.<br/> Please check back later to look at the Swimlane after the DAG has completed.</h4>
    {{/if}}
  {{else}}
    <h2>Data not available to display swimlane for query2!</h2>
    <h4>No vertex data found!</h4>
  {{/if}}

{{else}}
  {{partial "loading"}}
{{/if}}

