{{!
 *   HORTONWORKS DATAPLANE SERVICE AND ITS CONSTITUENT SERVICES
 *
 *   (c) 2016-2018 Hortonworks, Inc. All rights reserved.
 *
 *   This code is provided to you pursuant to your written agreement with Hortonworks, which may be the terms of the
 *   Affero General Public License version 3 (AGPLv3), or pursuant to a written agreement with a third party authorized
 *   to distribute this code.  If you do not have a written agreement with Hortonworks or with an authorized and
 *   properly licensed third party, you do not have any rights to this code.
 *
 *   If this code is provided to you under the terms of the AGPLv3:
 *   (A) HORTONWORKS PROVIDES THIS CODE TO YOU WITHOUT WARRANTIES OF ANY KIND;
 *   (B) HORTONWORKS DISCLAIMS ANY AND ALL EXPRESS AND IMPLIED WARRANTIES WITH RESPECT TO THIS CODE, INCLUDING BUT NOT
 *     LIMITED TO IMPLIED WARRANTIES OF TITLE, NON-INFRINGEMENT, MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE;
 *   (C) HORTONWORKS IS NOT LIABLE TO YOU, AND WILL NOT DEFEND, INDEMNIFY, OR HOLD YOU HARMLESS FOR ANY CLAIMS ARISING
 *     FROM OR RELATED TO THE CODE; AND
 *   (D) WITH RESPECT TO YOUR EXERCISE OF ANY RIGHTS GRANTED TO YOU FOR THE CODE, HORTONWORKS IS NOT LIABLE FOR ANY
 *     DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, PUNITIVE OR CONSEQUENTIAL DAMAGES INCLUDING, BUT NOT LIMITED TO,
 *     DAMAGES RELATED TO LOST REVENUE, LOST PROFITS, LOSS OF INCOME, LOSS OF BUSINESS ADVANTAGE OR UNAVAILABILITY,
 *     OR LOSS OR CORRUPTION OF DATA.
}}

<td>
  <div class="{{if column.nameError 'has-error'}} datatypes">
    {{input type="text" class="form-control" value=column.name key-up="sanitizeColumnName" disabled=(not column.editing)}}
    {{#if column.nameError}}
      <span class="help-block">{{column.nameError.error}}</span>
    {{/if}}
  </div>

</td>
<td>
  <div>
  {{#if isComplexType}}
    <input type="text" class="form-control" value={{val}} onkeyup={{action "complexTypeSelectionMade"}} />
  {{else}}
    {{#power-select
      disabled=(not column.editing)
      selected=column.type
      options=datatypes
      searchField="label"
      searchPlaceholder="Enter data type"
      onchange=(action "typeSelectionMade") as |parameter|}}
      {{parameter.label}}
    {{/power-select}}
  {{/if}}
  </div>
  {{input type="checkbox" name="isAdmin" checked=isComplexType}} Allow complex datatypes
</td>
<td>
  {{#if (or hasPrecision hasScale)}}
    <div class="row datatypes">
      {{#if hasPrecision}}
        <div class="{{if hasScale 'col-md-6' 'col-md-12'}}">
          <div class="{{if column.precisionError 'has-error'}}">
            {{input type="text" class="form-control" placeholder="Precision" value=column.precision disabled=(not column.editing)}}
            {{#if column.precisionError}}
              <span class="help-block">{{column.precisionError.error}}</span>
            {{/if}}
          </div>
        </div>
      {{/if}}
      {{#if hasScale}}
        <div class="{{if hasPrecision 'col-md-6' 'col-md-12'}}">
          <div class="{{if column.scaleError 'has-error'}}">
            {{input type="text" class="form-control" placeholder="Scale" value=column.scale disabled=(not column.editing)}}
            {{#if column.scaleError}}
              <span class="help-block">{{column.scaleError.error}}</span>
            {{/if}}
          </div>
        </div>
      {{/if}}
    </div>
  {{/if}}

</td>
<td>
  <div class="text-center datatypes">
    <a {{action "advanceOptionToggle"}}>{{fa-icon "cog" size="lg"}}</a>
  </div>
  {{#if advancedOption}}
    {{#modal-dialog
      close="advanceOptionToggle"
      translucentOverlay=true
      clickOutsideToClose=true
      container-class="modal-dialog"}}
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" {{action "advanceOptionToggle"}}>&times;</button>
          <h4 class="modal-title">{{fa-icon "cog" size="lg"}} Advance Column Options</h4>
        </div>
        <div class="modal-body">
          <div class="form-horizontal">
            <div class="form-group">
              <label for="inputPassword3" class="col-sm-2 control-label">Comment</label>
              <div class="col-sm-10">
                {{input type="text" class="form-control" placeholder="Comment" value=column.comment disabled=(not column.editing)}}
              </div>
            </div>

            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <div class="checkbox checkbox-primary">
                  {{input type="checkbox" checked=column.isPartitioned disabled=(or (not column.editing) editMode)}} 
                  <label >
                  Partitioned <br /><p class="bg-info warning-label">Partitioning divides a table into subfolders that are skipped by the Optimizer based on the WHERE conditions of the table. They have a direct impact on how much data is being read.</p>
                  </label>
                </div>
              </div>
              <div class="col-sm-offset-2 col-sm-10">
                <div class="checkbox checkbox-primary">
                  {{input type="checkbox" checked=column.isClustered disabled=(or (not column.editing) editMode)}} 
                  <label>
                    Clustered <br /><p class="bg-info warning-label">Clustering is more nuanced it essentially describes how many files are in each folder and has influence on a variety of Hive actions.</p>
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" {{action "advanceOptionToggle"}}>{{fa-icon "check"}} Done</button>
        </div>
      </div>
    {{/modal-dialog}}
  {{/if}}
</td>
<td>
  <div class="text-center">
    {{#if (or column.newColumn (not editMode)) }}
      {{#unless column.editing}}
        <button class="btn btn-success" {{action "edit"}}>{{fa-icon "check"}} Edit</button>
      {{/unless}}
      <button class="btn btn-danger" {{action "delete"}} disabled={{options.isDeleteColumnDisabled}} >{{fa-icon "times"}} Delete</button>
    {{/if}}

  </div>


</td>
