{{!
 *   HORTONWORKS DATAPLANE SERVICE AND ITS CONSTITUENT SERVICES
 *
 *   (c) 2016-2018 Hortonworks, Inc. All rights reserved.
 *
 *   This code is provided to you pursuant to your written agreement with Hortonworks, which may be the terms of the
 *   Affero General Public License version 3 (AGPLv3), or pursuant to a written agreement with a third party authorized
 *   to distribute this code.  If you do not have a written agreement with Hortonworks or with an authorized and
 *   properly licensed third party, you do not have any rights to this code.
 *
 *   If this code is provided to you under the terms of the AGPLv3:
 *   (A) HORTONWORKS PROVIDES THIS CODE TO YOU WITHOUT WARRANTIES OF ANY KIND;
 *   (B) HORTONWORKS DISCLAIMS ANY AND ALL EXPRESS AND IMPLIED WARRANTIES WITH RESPECT TO THIS CODE, INCLUDING BUT NOT
 *     LIMITED TO IMPLIED WARRANTIES OF TITLE, NON-INFRINGEMENT, MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE;
 *   (C) HORTONWORKS IS NOT LIABLE TO YOU, AND WILL NOT DEFEND, INDEMNIFY, OR HOLD YOU HARMLESS FOR ANY CLAIMS ARISING
 *     FROM OR RELATED TO THE CODE; AND
 *   (D) WITH RESPECT TO YOUR EXERCISE OF ANY RIGHTS GRANTED TO YOU FOR THE CODE, HORTONWORKS IS NOT LIABLE FOR ANY
 *     DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, PUNITIVE OR CONSEQUENTIAL DAMAGES INCLUDING, BUT NOT LIMITED TO,
 *     DAMAGES RELATED TO LOST REVENUE, LOST PROFITS, LOSS OF INCOME, LOSS OF BUSINESS ADVANTAGE OR UNAVAILABILITY,
 *     OR LOSS OR CORRUPTION OF DATA.
}}

{{#each _contents as |content|}}

  <div class="bubble-container">
    <div class="bubble">
      {{#if content.title}}{{show_}}
        <div class="tip-title">{{content.title}}</div>
      {{/if}}
      {{#if content.description}}
        <div class="tip-desc">{{content.description}}</div>
      {{/if}}
      {{#if content.properties}}
        <div class="tip-props">
          <table>
            {{#each content.properties as |prop|}}
              <tr>
                <td>
                  {{prop.name}}
                </td>
                <td>
                  {{#if prop.componentName}}
                    {{component prop.componentName content=prop.value}}
                  {{else}}
                    {{txt prop.value
                    type=prop.type
                    format=prop.format
                    timeZone=prop.timeZone
                    valueFormat=prop.valueFormat
                    valueTimeZone=prop.valueTimeZone
                    valueUnit=prop.valueUnit}}
                  {{/if}}
                </td>
              </tr>
            {{/each}}
          </table>
        </div>
      {{/if}}
    </div>
  </div>

{{/each}}
