{{!
 *   HORTONWORKS DATAPLANE SERVICE AND ITS CONSTITUENT SERVICES
 *
 *   (c) 2016-2018 Hortonworks, Inc. All rights reserved.
 *
 *   This code is provided to you pursuant to your written agreement with Hortonworks, which may be the terms of the
 *   Affero General Public License version 3 (AGPLv3), or pursuant to a written agreement with a third party authorized
 *   to distribute this code.  If you do not have a written agreement with Hortonworks or with an authorized and
 *   properly licensed third party, you do not have any rights to this code.
 *
 *   If this code is provided to you under the terms of the AGPLv3:
 *   (A) HORTONWORKS PROVIDES THIS CODE TO YOU WITHOUT WARRANTIES OF ANY KIND;
 *   (B) HORTONWORKS DISCLAIMS ANY AND ALL EXPRESS AND IMPLIED WARRANTIES WITH RESPECT TO THIS CODE, INCLUDING BUT NOT
 *     LIMITED TO IMPLIED WARRANTIES OF TITLE, NON-INFRINGEMENT, MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE;
 *   (C) HORTONWORKS IS NOT LIABLE TO YOU, AND WILL NOT DEFEND, INDEMNIFY, OR HOLD YOU HARMLESS FOR ANY CLAIMS ARISING
 *     FROM OR RELATED TO THE CODE; AND
 *   (D) WITH RESPECT TO YOUR EXERCISE OF ANY RIGHTS GRANTED TO YOU FOR THE CODE, HORTONWORKS IS NOT LIABLE FOR ANY
 *     DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, PUNITIVE OR CONSEQUENTIAL DAMAGES INCLUDING, BUT NOT LIMITED TO,
 *     DAMAGES RELATED TO LOST REVENUE, LOST PROFITS, LOSS OF INCOME, LOSS OF BUSINESS ADVANTAGE OR UNAVAILABILITY,
 *     OR LOSS OR CORRUPTION OF DATA.
}}

{{bread-crumbs tagName="ol" outputStyle="bootstrap" linkable=true class="breadcrumbs-header"}}
<div class="pull-right header-menu">
  <span class="dropdown" style="display:inline-block">
    <a href="javascript:void(0);">
      {{# if isCritical}}
        <span class="fa fa-exclamation-triangle refresh-critical" {{action "showCriticialDetails"}}></span>
      {{/if}}
    </a>
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class="fa fa-user fa-fw" style="color:black;padding-right:0px;width:7px;"></i>
      <i class="fa fa-caret-down"></i>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1" style="left:auto; right:0">
      <li><a href="javascript:void(0);" {{action "showCloseDialog"}}> About</a></li>
      {{#if productInfo.info.isUserAuthEnabled}}
        <li><a href="javascript:void(0);" {{action "logout"}}> Logout</a></li>
      {{/if}}
    </ul>
  </span>
</div>


{{#if showCriticialDetailsModal}}
  {{info-dialog title="Alert" label=criticalLabel ok="hideCriticialDetails"}}
{{/if}}

{{#if showAboutDetails}}
    {{prod-info
            title="Configurations"
            infoLabels=infoLabels
            productInfo=productInfo
            contextInfo=contextInfo
            closable=false
            apiAccessError=apiAccessError
            ok="closeAboutDialog"
            saveConnection=(action "saveConnection")
            resetConnection=(action "resetConnection")
    }}
{{/if}}
