{{!
 *   HORTONWORKS DATAPLANE SERVICE AND ITS CONSTITUENT SERVICES
 *
 *   (c) 2016-2018 Hortonworks, Inc. All rights reserved.
 *
 *   This code is provided to you pursuant to your written agreement with Hortonworks, which may be the terms of the
 *   Affero General Public License version 3 (AGPLv3), or pursuant to a written agreement with a third party authorized
 *   to distribute this code.  If you do not have a written agreement with Hortonworks or with an authorized and
 *   properly licensed third party, you do not have any rights to this code.
 *
 *   If this code is provided to you under the terms of the AGPLv3:
 *   (A) HORTONWORKS PROVIDES THIS CODE TO YOU WITHOUT WARRANTIES OF ANY KIND;
 *   (B) HORTONWORKS DISCLAIMS ANY AND ALL EXPRESS AND IMPLIED WARRANTIES WITH RESPECT TO THIS CODE, INCLUDING BUT NOT
 *     LIMITED TO IMPLIED WARRANTIES OF TITLE, NON-INFRINGEMENT, MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE;
 *   (C) HORTONWORKS IS NOT LIABLE TO YOU, AND WILL NOT DEFEND, INDEMNIFY, OR HOLD YOU HARMLESS FOR ANY CLAIMS ARISING
 *     FROM OR RELATED TO THE CODE; AND
 *   (D) WITH RESPECT TO YOUR EXERCISE OF ANY RIGHTS GRANTED TO YOU FOR THE CODE, HORTONWORKS IS NOT LIABLE FOR ANY
 *     DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, PUNITIVE OR CONSEQUENTIAL DAMAGES INCLUDING, BUT NOT LIMITED TO,
 *     DAMAGES RELATED TO LOST REVENUE, LOST PROFITS, LOSS OF INCOME, LOSS OF BUSINESS ADVANTAGE OR UNAVAILABILITY,
 *     OR LOSS OR CORRUPTION OF DATA.
}}

<div class="timeline-bars">
  <div class="groups">
    <div class="bar" data="groupTotal.pre" title="Pre-Execution + DAG construction">Pre-Execution + DAG construction</div>
    <div class="bar" data="groupTotal.submit" title="DAG Submission">DAG Submission</div>
    <div class="bar" data="groupTotal.running" title="DAG Runtime">DAG Runtime</div>
    <div class="bar" data="groupTotal.post" title="Post Execution">Post Execution</div>
  </div>

  <div class="sub-groups">
    <div class="bar" data="compile" title="Compile">Compile</div>
    <div class="bar" data="parse" title="Parse">Parse</div>
    <div class="bar" data="TezBuildDag" title="Build Dag">Build Dag</div>

    <div class="bar" data="TezSubmitDag" title="Submit Dag">Submit Dag</div>
    <div class="bar" data="TezSubmitToRunningDag" title="Submit To Running">Submit To Running</div>

    <div class="bar" data="TezRunDag" title="Run Dag">Run Dag</div>

    <div class="bar" data="PostHiveProtoLoggingHook" title="Post ATS Hook">Post ATS Hook</div>
    <div class="bar" data="RemoveTempOrDuplicateFiles" title="Remove Files">Remove Files</div>
    <div class="bar" data="RenameOrMoveFiles" title="Rename Or Move Files">Rename Or Move Files</div>
  </div>
</div>
<table class='detail-list'>
  <thead>
  <tr>
    <th colspan=2>Pre-Execution + DAG construction : {{txt normalizedPerf.groupTotal.pre type="duration"}}</th>
  </tr>
  </thead>

  <tbody>
  <tr>
    <td><i></i>Compile</td>
    <td>{{txt normalizedPerf.compile type="duration"}}</td>
  </tr>
  <tr>
    <td><i></i>Parse</td>
    <td>{{txt normalizedPerf.parse type="duration"}}</td>
  </tr>
  <tr>
    <td><i></i>Build Dag</td>
    <td>{{txt normalizedPerf.TezBuildDag type="duration"}}</td>
  </tr>
  </tbody>
</table>

<table class='detail-list'>
  <thead>
  <tr>
    <th colspan=2>DAG Submission : {{txt normalizedPerf.groupTotal.submit type="duration"}}</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td><i></i>Submit Dag</td>
    <td>{{txt normalizedPerf.TezSubmitDag type="duration"}}</td>
  </tr>
  <tr>
    <td><i></i>Submit To Running</td>
    <td>{{txt normalizedPerf.TezSubmitToRunningDag type="duration"}}</td>
  </tr>
  </tbody>
</table>

<table class='detail-list'>
  <thead>
  <tr>
    <th colspan=2>DAG Runtime : {{txt normalizedPerf.groupTotal.running type="duration"}}</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td><i></i>Run Dag</td>
    <td>{{txt normalizedPerf.TezRunDag type="duration"}}</td>
  </tr>
  </tbody>
</table>

<table class='detail-list'>
  <thead>
  <tr>
    <th colspan=2>Post Execution : {{txt normalizedPerf.groupTotal.post type="duration"}}</th>
  </tr>
  </thead>
  <tbody>
  {{#if normalizedPerf.PostHiveProtoLoggingHook}}
    <tr>
      <td><i></i>Post Hive Hook</td>
      <td>{{txt normalizedPerf.PostHiveProtoLoggingHook type="duration"}}</td>
    </tr>
  {{/if}}
  {{#if normalizedPerf.RemoveTempOrDuplicateFiles}}
    <tr>
      <td><i></i>Remove Files</td>
      <td>{{txt normalizedPerf.RemoveTempOrDuplicateFiles type="duration"}}</td>
    </tr>
  {{/if}}
  {{#if normalizedPerf.RenameOrMoveFiles}}
    <tr>
      <td><i></i>Rename Or Move Files</td>
      <td>{{txt normalizedPerf.RenameOrMoveFiles type="duration"}}</td>
    </tr>
  {{/if}}
  </tbody>
</table>
