{{!
 *   HORTONWORKS DATAPLANE SERVICE AND ITS CONSTITUENT SERVICES
 *
 *   (c) 2016-2018 Hortonworks, Inc. All rights reserved.
 *
 *   This code is provided to you pursuant to your written agreement with Hortonworks, which may be the terms of the
 *   Affero General Public License version 3 (AGPLv3), or pursuant to a written agreement with a third party authorized
 *   to distribute this code.  If you do not have a written agreement with Hortonworks or with an authorized and
 *   properly licensed third party, you do not have any rights to this code.
 *
 *   If this code is provided to you under the terms of the AGPLv3:
 *   (A) HORTONWORKS PROVIDES THIS CODE TO YOU WITHOUT WARRANTIES OF ANY KIND;
 *   (B) HORTONWORKS DISCLAIMS ANY AND ALL EXPRESS AND IMPLIED WARRANTIES WITH RESPECT TO THIS CODE, INCLUDING BUT NOT
 *     LIMITED TO IMPLIED WARRANTIES OF TITLE, NON-INFRINGEMENT, MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE;
 *   (C) HORTONWORKS IS NOT LIABLE TO YOU, AND WILL NOT DEFEND, INDEMNIFY, OR HOLD YOU HARMLESS FOR ANY CLAIMS ARISING
 *     FROM OR RELATED TO THE CODE; AND
 *   (D) WITH RESPECT TO YOUR EXERCISE OF ANY RIGHTS GRANTED TO YOU FOR THE CODE, HORTONWORKS IS NOT LIABLE FOR ANY
 *     DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, PUNITIVE OR CONSEQUENTIAL DAMAGES INCLUDING, BUT NOT LIMITED TO,
 *     DAMAGES RELATED TO LOST REVENUE, LOST PROFITS, LOSS OF INCOME, LOSS OF BUSINESS ADVANTAGE OR UNAVAILABILITY,
 *     OR LOSS OR CORRUPTION OF DATA.
}}

<div class="dropdown filter-dropdown-container">
  Filter:<br/>
  <button class="btn btn-default" type="button" data-toggle="dropdown">
    {{filterOptionDescription}}
  </button>
  <div class="dropdown-menu">
    {{#each filterOptions as |option|}}
      <a class="dropdown-item" {{action "filterChanged" option}}>{{option.description}}</a>
    {{/each}}
    <div class="custom-dropdown-item" {{action "actionBarrier" bubbles=false}}>

      <div class="custom-item">
        Limit
        <select class="form-control" onchange={{action "limitChanged" value="target.value"}}>
          {{#each limitOptions as |option|}}
            <option value={{option}} selected={{eq filterOption.limit option}}>{{option}}</option>
          {{/each}}
        </select>
      </div>

      <div class="custom-item">
        Status
        <select class="form-control" onchange={{action "statusChanged" value="target.value"}}>
          <option value={{non}} selected={{eq filterOption.status non}}>Don't filter by status</option>
          {{#each statusOptions as |option|}}
            <option value={{option}} selected={{eq filterOption.status option}}>{{option}}</option>
          {{/each}}
        </select>
      </div>

      <div class="custom-item sort">
        Sort
        <select class="form-control" onchange={{action "sortChanged" value="target.value"}}>
          <option value={{non}} selected={{eq filterOption.sort non}}>Don't sort</option>
          {{#each sortOptions as |option index|}}
            <option value={{index}} selected={{eq filterOption.sort option}}>{{option.title}}</option>
          {{/each}}
        </select>

        <i class="fa fa-2x fa-arrow-circle-{{if filterOption.sortDesc "down" "up"}}"
          {{action "toggleSortOrder"}}></i>
      </div>

    </div>
  </div>
</div>

<div class="dropdown groupby-dropdown-container">
  Group By:<br/>
  <button class="btn btn-default" type="button" data-toggle="dropdown">
    {{groupBy.description}}
  </button>
  <div class="dropdown-menu">
    {{#each groupByOptions as |option|}}
      <a class="dropdown-item" {{action "groupByChanged" option}}>{{option.description}}</a>
    {{/each}}
  </div>
</div>

<div class="dropdown zoom-dropdown-container">
  Time window:<br/>
  <button class="btn btn-default" type="button" data-toggle="dropdown">
    {{zoomOption}}
  </button>
  <div class="dropdown-menu">
    {{#each zoomOptions as |option|}}
      <a class="dropdown-item" {{action "zoomChanged" option}}>{{option}}</a>
    {{/each}}
  </div>
</div>

<div class="swimlane-container {{if timeData "ruler-displayed"}}">
  {{#if taskAttempts.isLoaded}}
    {{#if taskAttempts}}

      {{#each groupedTaskAttempts as |group|}}
        <div class="swimlane-row" title="{{groupBy.title}} : {{group.groupId}}">
        {{#each group.attempts as |attempt|}}
          <div class="attempt-bar {{attempt.status}}" {{action "attemptClicked" attempt}}
               title="Task Attempt : {{attempt.taskAttemptId}}"
               data-left={{attempt.left}}
               data-right={{attempt.right}}>
            {{em-table-status-cell content=attempt.status}}
            {{txt attempt.duration type="duration"}}
          </div>
        {{/each}}
        </div>
      {{/each}}

    {{else}}
      <div class="message">No task attempts to display!</div>
    {{/if}}
  {{else}}
    {{#if (eq taskAttempts null)}}
      <div class="message">
        <h4>DAG info not available!</h4>
        <h5>(DAG history might have been deleted after expiry)</h5>
      </div>
    {{else}}
      <div class="message">
        <i class="fa fa-spinner fa-spin"></i> Loading...
      </div>
    {{/if}}
  {{/if}}
</div>

{{#if timeData}}
  <div class="em-swimlane">
    <div class="process-visuals">
      <div class="zoom-panel">
        {{em-swimlane-ruler processor=timeData zoom=100}}
      </div>
    </div>
    <div class="min-time">&#9658;{{date-formatter content=timeData.minTime}}</div>
    <div class="max-time">{{date-formatter content=timeData.maxTime}}&#9668;</div>
  </div>
{{/if}}

{{#if selectedAttempt}}
  {{#modal-dialog
    translucentOverlay=true
    container-class="modal-dialog"}}
    <div class="modal-content">
      <div class="modal-header">
        <button {{action "attemptClicked"}} type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Task Attempt : {{selectedAttempt.taskAttemptId}}</h4>
      </div>
      <div class="modal-body">

        <div class="panel panel-default">
          <div class="panel-heading">Details</div>
          <div class="panel-body details-panel">
            <table class="table table-bordered">
              <tbody>
              <tr>
                <td>Task ID</td>
                <td>{{selectedAttempt.taskId}}</td>
              </tr>
              <tr>
                <td>Container ID</td>
                <td>{{selectedAttempt.containerId}}</td>
              </tr>
              <tr>
                <td>Node ID</td>
                <td>{{selectedAttempt.nodeId}}</td>
              </tr>
              <tr>
                <td>Status</td>
                <td>{{em-table-status-cell content=selectedAttempt.status}}</td>
              </tr>
              <tr>
                <td>Start Time</td>
                <td>{{date-formatter content=selectedAttempt.startTime}}</td>
              </tr>
              <tr>
                <td>End Time</td>
                <td>{{date-formatter content=selectedAttempt.finishTime}}</td>
              </tr>
              <tr>
                <td>Duration</td>
                <td>{{txt selectedAttempt.duration type="duration"}}</td>
              </tr>
              {{#unless (eq query.executionMode "LLAP")}}
                <tr>
                  <td>Logs</td>
                  <td>
                    <a target="_blank" href="{{env.rootURL}}{{selectedAttempt.inProgressLogsURL}}">
                      Open log in new tab
                    </a>
                  </td>
                </tr>
              {{/unless}}
              </tbody>
            </table>

          </div>
        </div>

        {{#if selectedAttempt.diagnostics}}
          <div class="panel panel-danger">
            <div class="panel-heading">Diagnostics</div>
            <div class="diagnostics">{{{selectedAttempt.diagnostics}}}</div>
          </div>
        {{/if}}

      </div>
    </div>
  {{/modal-dialog}}
{{/if}}
