{{!
 *   HORTONWORKS DATAPLANE SERVICE AND ITS CONSTITUENT SERVICES
 *
 *   (c) 2016-2018 Hortonworks, Inc. All rights reserved.
 *
 *   This code is provided to you pursuant to your written agreement with Hortonworks, which may be the terms of the
 *   Affero General Public License version 3 (AGPLv3), or pursuant to a written agreement with a third party authorized
 *   to distribute this code.  If you do not have a written agreement with Hortonworks or with an authorized and
 *   properly licensed third party, you do not have any rights to this code.
 *
 *   If this code is provided to you under the terms of the AGPLv3:
 *   (A) HORTONWORKS PROVIDES THIS CODE TO YOU WITHOUT WARRANTIES OF ANY KIND;
 *   (B) HORTONWORKS DISCLAIMS ANY AND ALL EXPRESS AND IMPLIED WARRANTIES WITH RESPECT TO THIS CODE, INCLUDING BUT NOT
 *     LIMITED TO IMPLIED WARRANTIES OF TITLE, NON-INFRINGEMENT, MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE;
 *   (C) HORTONWORKS IS NOT LIABLE TO YOU, AND WILL NOT DEFEND, INDEMNIFY, OR HOLD YOU HARMLESS FOR ANY CLAIMS ARISING
 *     FROM OR RELATED TO THE CODE; AND
 *   (D) WITH RESPECT TO YOUR EXERCISE OF ANY RIGHTS GRANTED TO YOU FOR THE CODE, HORTONWORKS IS NOT LIABLE FOR ANY
 *     DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, PUNITIVE OR CONSEQUENTIAL DAMAGES INCLUDING, BUT NOT LIMITED TO,
 *     DAMAGES RELATED TO LOST REVENUE, LOST PROFITS, LOSS OF INCOME, LOSS OF BUSINESS ADVANTAGE OR UNAVAILABILITY,
 *     OR LOSS OR CORRUPTION OF DATA.
}}

<div class="container-fluid compare-panel">
  <div class="row">
    <div class="col-sm-5">
      <div class="form-group">
        {{input value=query1.queryText name="query1" class=(if query1.queryText 'form-control input-lg query-holder' 'form-control input-lg no-border') placeholder="Select a query for comparision" disabled=true title=query1.queryText}}
        {{#if query1.queryText}}
          <button type="button" class="btn btn-default clear-query" {{action 'clearQuery' 'query1'}}>
            <i class="fa fa-times fa-lg" aria-hidden="true" title="Clear the query"></i>
          </button>
        {{/if}}
      </div>
    </div>
    <div class="col-sm-1 swap-query">
        <i class="fa fa-exchange fa-lg swap-query" aria-hidden="true" title="Swap queries" {{action 'swapQuery'}}></i>
    </div>
    <div class="col-sm-5">
      {{input value=query2.queryText name="query2" class=(if query2.queryText 'form-control input-lg query-holder' 'form-control input-lg no-border') placeholder="Select a query for comparision" disabled=true title=query2.queryText}}
      {{#if query2.queryText}}
        <button type="button" class="btn btn-default clear-query" {{action 'clearQuery' 'query2'}}>
          <i class="fa fa-times fa-lg {{if query2.queryText '' 'no-border'}}" title="Clear the query" aria-hidden="true"></i>
        </button>
      {{/if}}
    </div>
    <div class="col-sm-1 show-comparision"><button type="button" class="btn btn-success {{if (and query1.queryText query2.queryText) '' 'disabled'}}" {{action "showComparision"}} title="Compare two queries">Compare</button></div>
  </div>
</div>