{{!
 *   HORTONWORKS DATAPLANE SERVICE AND ITS CONSTITUENT SERVICES
 *
 *   (c) 2016-2018 Hortonworks, Inc. All rights reserved.
 *
 *   This code is provided to you pursuant to your written agreement with Hortonworks, which may be the terms of the
 *   Affero General Public License version 3 (AGPLv3), or pursuant to a written agreement with a third party authorized
 *   to distribute this code.  If you do not have a written agreement with Hortonworks or with an authorized and
 *   properly licensed third party, you do not have any rights to this code.
 *
 *   If this code is provided to you under the terms of the AGPLv3:
 *   (A) HORTONWORKS PROVIDES THIS CODE TO YOU WITHOUT WARRANTIES OF ANY KIND;
 *   (B) HORTONWORKS DISCLAIMS ANY AND ALL EXPRESS AND IMPLIED WARRANTIES WITH RESPECT TO THIS CODE, INCLUDING BUT NOT
 *     LIMITED TO IMPLIED WARRANTIES OF TITLE, NON-INFRINGEMENT, MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE;
 *   (C) HORTONWORKS IS NOT LIABLE TO YOU, AND WILL NOT DEFEND, INDEMNIFY, OR HOLD YOU HARMLESS FOR ANY CLAIMS ARISING
 *     FROM OR RELATED TO THE CODE; AND
 *   (D) WITH RESPECT TO YOUR EXERCISE OF ANY RIGHTS GRANTED TO YOU FOR THE CODE, HORTONWORKS IS NOT LIABLE FOR ANY
 *     DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, PUNITIVE OR CONSEQUENTIAL DAMAGES INCLUDING, BUT NOT LIMITED TO,
 *     DAMAGES RELATED TO LOST REVENUE, LOST PROFITS, LOSS OF INCOME, LOSS OF BUSINESS ADVANTAGE OR UNAVAILABILITY,
 *     OR LOSS OR CORRUPTION OF DATA.
}}
<div class="title">Duration</div>
<table class='detail-list'>
  <thead>
  <tr>
    <th colspan=2>Pre-Execution + DAG construction</th>
    <th>A - {{txt normalizedPerf2.groupTotal.pre type="duration"}}</th>
    <th>B - {{txt normalizedPerf1.groupTotal.pre type="duration"}}</th>
  </tr>
  </thead>

  <tbody>
  <tr>
    <td colspan=2><i></i>Compile</td>
    <td>{{txt normalizedPerf2.compile type="duration"}}</td>
    <td>{{txt normalizedPerf1.compile type="duration"}}</td>
  </tr>
  <tr>
    <td colspan=2><i></i>Parse</td>
    <td>{{txt normalizedPerf2.parse type="duration"}}</td>
    <td>{{txt normalizedPerf1.parse type="duration"}}</td>
  </tr>
  <tr>
    <td colspan=2><i></i>Build Dag</td>
    <td>{{txt normalizedPerf2.TezBuildDag type="duration"}}</td>
    <td>{{txt normalizedPerf1.TezBuildDag type="duration"}}</td>
  </tr>
  </tbody>
</table>

<table class='detail-list'>
  <thead>
  <tr>
    <th colspan=2>DAG Submission</th>
    <th>A - {{txt normalizedPerf2.groupTotal.submit type="duration"}}</th>
    <th>B - {{txt normalizedPerf1.groupTotal.submit type="duration"}}</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td colspan=2><i></i>Submit Dag</td>
    <td>{{txt normalizedPerf2.TezSubmitDag type="duration"}}</td>
    <td>{{txt normalizedPerf1.TezSubmitDag type="duration"}}</td>
  </tr>
  <tr>
    <td colspan=2><i></i>Submit To Running</td>
    <td>{{txt normalizedPerf2.TezSubmitToRunningDag type="duration"}}</td>
    <td>{{txt normalizedPerf1.TezSubmitToRunningDag type="duration"}}</td>
  </tr>
  </tbody>
</table>

<table class='detail-list'>
  <thead>
  <tr>
    <th colspan=2>DAG Runtime</th>
    <th>A - {{txt normalizedPerf2.groupTotal.running type="duration"}}</th>
    <th>B - {{txt normalizedPerf1.groupTotal.running type="duration"}}</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td colspan=2><i></i>Run Dag</td>
    <td>{{txt normalizedPerf2.TezRunDag type="duration"}}</td>
    <td>{{txt normalizedPerf1.TezRunDag type="duration"}}</td>
  </tr>
  </tbody>
</table>

<table class='detail-list'>
  <thead>
  <tr>
    <th colspan=2>Post Execution</th>
    <th>A - {{txt normalizedPerf2.groupTotal.post type="duration"}}</th>
    <th>B - {{txt normalizedPerf1.groupTotal.post type="duration"}}</th>
  </tr>
  </thead>
  <tbody>
  <tr>
  {{#if normalizedPerf2.PostHiveProtoLoggingHook}}
      <td colspan=2><i></i>Post Hive Hook</td>
      <td>{{txt normalizedPerf2.PostHiveProtoLoggingHook type="duration"}}</td>
  {{/if}}
  {{#if normalizedPerf1.PostHiveProtoLoggingHook}}
      <td>{{txt normalizedPerf1.PostHiveProtoLoggingHook type="duration"}}</td>
  {{/if}}
  </tr>
  <tr>
  {{#if normalizedPerf2.RemoveTempOrDuplicateFiles}}
      <td colspan=2><i></i>Remove Files</td>
      <td>{{txt normalizedPerf2.RemoveTempOrDuplicateFiles type="duration"}}</td>
  {{/if}}
  {{#if normalizedPerf2.RemoveTempOrDuplicateFiles}}
      <td>{{txt normalizedPerf2.RemoveTempOrDuplicateFiles type="duration"}}</td>
  {{/if}}
  </tr>
  <tr>
    {{#if normalizedPerf2.RenameOrMoveFiles}}
        <td colspan=2><i></i>Rename Or Move Files</td>
        <td>{{txt normalizedPerf2.RenameOrMoveFiles type="duration"}}</td>
    {{/if}}
    {{#if normalizedPerf2.RenameOrMoveFiles}}
        <td>{{txt normalizedPerf2.RenameOrMoveFiles type="duration"}}</td>
    {{/if}}
  </tr>
  </tbody>
</table>
