{{!
 *   HORTONWORKS DATAPLANE SERVICE AND ITS CONSTITUENT SERVICES
 *
 *   (c) 2016-2018 Hortonworks, Inc. All rights reserved.
 *
 *   This code is provided to you pursuant to your written agreement with Hortonworks, which may be the terms of the
 *   Affero General Public License version 3 (AGPLv3), or pursuant to a written agreement with a third party authorized
 *   to distribute this code.  If you do not have a written agreement with Hortonworks or with an authorized and
 *   properly licensed third party, you do not have any rights to this code.
 *
 *   If this code is provided to you under the terms of the AGPLv3:
 *   (A) HORTONWORKS PROVIDES THIS CODE TO YOU WITHOUT WARRANTIES OF ANY KIND;
 *   (B) HORTONWORKS DISCLAIMS ANY AND ALL EXPRESS AND IMPLIED WARRANTIES WITH RESPECT TO THIS CODE, INCLUDING BUT NOT
 *     LIMITED TO IMPLIED WARRANTIES OF TITLE, NON-INFRINGEMENT, MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE;
 *   (C) HORTONWORKS IS NOT LIABLE TO YOU, AND WILL NOT DEFEND, INDEMNIFY, OR HOLD YOU HARMLESS FOR ANY CLAIMS ARISING
 *     FROM OR RELATED TO THE CODE; AND
 *   (D) WITH RESPECT TO YOUR EXERCISE OF ANY RIGHTS GRANTED TO YOU FOR THE CODE, HORTONWORKS IS NOT LIABLE FOR ANY
 *     DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, PUNITIVE OR CONSEQUENTIAL DAMAGES INCLUDING, BUT NOT LIMITED TO,
 *     DAMAGES RELATED TO LOST REVENUE, LOST PROFITS, LOSS OF INCOME, LOSS OF BUSINESS ADVANTAGE OR UNAVAILABILITY,
 *     OR LOSS OR CORRUPTION OF DATA.
}}
<div class="input-group">

  <div class="input-group-btn">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Searches <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li class="dropdown-header">Suggested</li>
      {{#each _search.suggest as |search|}}
        <li {{action "searchSelected" search}}><a href="#">{{search.name}}</a></li>
      {{else}}
        <li class="message">No suggestions!</li>
      {{/each}}
      <li class="dropdown-header">Saved Searches</li>
      {{#each _search.saved as |search|}}
        <li class="saved-search">
          <a {{action "searchSelected" search}} href="#">{{search.name}}</a>
          <i {{action "deleteSearch" search}} class="fa fa-times" aria-hidden="true"></i>
        </li>
      {{else}}
        <li class="message">No saved searches</li>
      {{/each}}
    </ul>
  </div>

  {{input type="search" class="form-control" placeholder="Search Queries" enter="search" value=text}}

  <div class="input-group-btn time-dropdown">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      {{tableDefinition.rangeData.title}} <span class="caret"></span>
    </button>
    <div class="dropdown-menu range-panel pull-right">
      {{range-panel tableDefinition=tableDefinition}}
    </div>

    <button class="btn btn-default search" type="button" {{action "search"}}>
      <i class="fa fa-search" aria-hidden="true"></i>
    </button>
  </div>

  <div class="input-group-btn save-button">
    <button class="btn btn-default" type="button" {{action "toggleSaveModal"}}>
      <i class="fa fa-save" aria-hidden="true"></i>
    </button>
  </div>
</div>

{{#if isShowingSaveModal}}
  {{#modal-dialog onClose="toggleSaveModal"
  container-class="modal-dialog modal-sm"}}
    <div class="modal-content save-search-modal">
      <div class="modal-header">
        <span class="modal-title">Save Search</span>
        <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
        <i class="fa fa-times" aria-hidden="true" {{action "toggleSaveModal"}}></i>
      </div>
      <div class="modal-body">
        NAME *
        {{input type="text" class="form-control" value=searchName}}
        <div>
          {{input type="checkbox" checked=includeFilterAndColumns}}
          Include Filters and Columns
        </div>

        <div class="buttons">
          <button type="button" class="btn btn-default" {{action "toggleSaveModal"}}>CANCEL</button>
          <button type="button" class="btn btn-success" {{action "saveSearch"}}>SAVE</button>
        </div>
      </div>
    </div><!-- /.modal-content -->
  {{/modal-dialog}}
{{/if}}