{{!
 *   HORTONWORKS DATAPLANE SERVICE AND ITS CONSTITUENT SERVICES
 *
 *   (c) 2016-2018 Hortonworks, Inc. All rights reserved.
 *
 *   This code is provided to you pursuant to your written agreement with Hortonworks, which may be the terms of the
 *   Affero General Public License version 3 (AGPLv3), or pursuant to a written agreement with a third party authorized
 *   to distribute this code.  If you do not have a written agreement with Hortonworks or with an authorized and
 *   properly licensed third party, you do not have any rights to this code.
 *
 *   If this code is provided to you under the terms of the AGPLv3:
 *   (A) HORTONWORKS PROVIDES THIS CODE TO YOU WITHOUT WARRANTIES OF ANY KIND;
 *   (B) HORTONWORKS DISCLAIMS ANY AND ALL EXPRESS AND IMPLIED WARRANTIES WITH RESPECT TO THIS CODE, INCLUDING BUT NOT
 *     LIMITED TO IMPLIED WARRANTIES OF TITLE, NON-INFRINGEMENT, MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE;
 *   (C) HORTONWORKS IS NOT LIABLE TO YOU, AND WILL NOT DEFEND, INDEMNIFY, OR HOLD YOU HARMLESS FOR ANY CLAIMS ARISING
 *     FROM OR RELATED TO THE CODE; AND
 *   (D) WITH RESPECT TO YOUR EXERCISE OF ANY RIGHTS GRANTED TO YOU FOR THE CODE, HORTONWORKS IS NOT LIABLE FOR ANY
 *     DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, PUNITIVE OR CONSEQUENTIAL DAMAGES INCLUDING, BUT NOT LIMITED TO,
 *     DAMAGES RELATED TO LOST REVENUE, LOST PROFITS, LOSS OF INCOME, LOSS OF BUSINESS ADVANTAGE OR UNAVAILABILITY,
 *     OR LOSS OR CORRUPTION OF DATA.
}}
{{#if showStats}}
<div class="row">
  <div>
    <p>
      <div class="pull-left">
        <button class="btn btn-success button-sm"
          {{action "analyseTable"}}>{{fa-icon "calculator"}}{{#if (not tableStatisticsEnabled)}}
          Compute {{else}} Recompute {{/if}}</button>

        <label>
          {{input type="checkbox" checked=analyseWithStatistics}}
        </label>&nbsp;<span>INCLUDE COLUMNS</span>
      </div>
    </p>
  </div>
</div>
<div class="row">
  <p class="table-title"><strong>TABLE STATISTICS</strong></p>
  <table class="full-width">
    <tbody>
    {{print-column-stats item=tableStats fetchStats='fetchTableStats' toggleShowStats='toggleShowTableStats'}}
    </tbody>
  </table>
</div>

<div class="row">
  <br>
  <p class="table-title"><strong>COLUMNS STATISTICS</strong></p>
  <table class="table table-striped">
    <thead>
    <tr>
      <th width="50%">COLUMN NAME</th>
      <th width="50%">STATISTICS</th>
    </tr>
    </thead>
    <tbody>
    {{#paginated-column-stats
        model=columns 
        currentPage=1 
        comp='print-column-stats' 
        itemsOnAPage=25 
        fetchStats='fetchStats' 
        toggleShowStats='toggleShowStats' }}
    {{/paginated-column-stats}} 
    </tbody>
  </table>
</div>


{{#if showAnalyseModal}}
  {{#modal-dialog
    translucentOverlay=true
    clickOutsideToClose=false
    container-class="modal-dialog"}}
    <div class="modal-content">
      <div class="modal-header">
        <p class="modal-title">{{fa-icon "location-arrow" size="lg"}} {{analyseTitle}}</p>
      </div>
      <div class="modal-body text-center">
        <div class="alert alert-danger">
          Analyse table statistics operation may take long time
        </div>
        <p><strong>{{analyseMessage}}</strong></p>
      </div>
    </div>
  {{/modal-dialog}}
{{/if}}
{{else}}
  <br />
  <div class="alert alert-danger">
    <p>  Statistics not supported for partitioned table in Hive Server version lesser than {{partitionStatSupportedVersion}}.</p>
  </div>
{{/if}}

