{{!
 *   HORTONWORKS DATAPLANE SERVICE AND ITS CONSTITUENT SERVICES
 *
 *   (c) 2016-2018 Hortonworks, Inc. All rights reserved.
 *
 *   This code is provided to you pursuant to your written agreement with Hortonworks, which may be the terms of the
 *   Affero General Public License version 3 (AGPLv3), or pursuant to a written agreement with a third party authorized
 *   to distribute this code.  If you do not have a written agreement with Hortonworks or with an authorized and
 *   properly licensed third party, you do not have any rights to this code.
 *
 *   If this code is provided to you under the terms of the AGPLv3:
 *   (A) HORTONWORKS PROVIDES THIS CODE TO YOU WITHOUT WARRANTIES OF ANY KIND;
 *   (B) HORTONWORKS DISCLAIMS ANY AND ALL EXPRESS AND IMPLIED WARRANTIES WITH RESPECT TO THIS CODE, INCLUDING BUT NOT
 *     LIMITED TO IMPLIED WARRANTIES OF TITLE, NON-INFRINGEMENT, MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE;
 *   (C) HORTONWORKS IS NOT LIABLE TO YOU, AND WILL NOT DEFEND, INDEMNIFY, OR HOLD YOU HARMLESS FOR ANY CLAIMS ARISING
 *     FROM OR RELATED TO THE CODE; AND
 *   (D) WITH RESPECT TO YOUR EXERCISE OF ANY RIGHTS GRANTED TO YOU FOR THE CODE, HORTONWORKS IS NOT LIABLE FOR ANY
 *     DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, PUNITIVE OR CONSEQUENTIAL DAMAGES INCLUDING, BUT NOT LIMITED TO,
 *     DAMAGES RELATED TO LOST REVENUE, LOST PROFITS, LOSS OF INCOME, LOSS OF BUSINESS ADVANTAGE OR UNAVAILABILITY,
 *     OR LOSS OR CORRUPTION OF DATA.
}}

<div class="visual-explain-header">
  {{#if renderSucceeded}}
    <div class="button-container">
      {{!-- <button class="btn btn-default" {{action "scaleBy" 1.2}}>{{fa-icon "plus"}}</button>
      <button class="btn btn-default" {{action "scaleBy" 0.8}}>{{fa-icon "minus"}}</button> --}}
      <button class="btn btn-default" title="Full screen" {{action "expandQueryResultPanel" }} >{{fa-icon "expand"}}</button>
      <i class="fa fa-ellipsis-v"></i>
      <button class="download-button btn btn-default" title="Download explain JSON" {{action "showDownloadPrompt" }}><i class="fa fa-download" aria-hidden="true"></i></button>
    </div>
  {{/if}}
</div>

{{#if isQueryRunning}}
  <div style="position:relative">
    <div style="margin: auto;position: absolute;top: 0;left: 0;bottom: 0;right: 0;text-align: center">
      {{fa-icon "spinner fa-2" spin=true}}
    </div>
  </div>
{{/if}}

{{#unless isQueryRunning}}
  <div id="explain-container" ></div>
  {{#if (eq planId "vs-exp-container1")}}
    <div id="vs-exp-container1" ></div>
  {{/if}}
  {{#if (eq planId "vs-exp-container2")}}
    <div id="vs-exp-container2" ></div>
  {{/if}}
{{/unless}}

{{#if showDetailsModal}}
  {{visual-explain-detail closeModal='closeModal' explainDetailData=explainDetailData vectorizedInfo=vectorizedInfo}}
{{/if}}

{{#if showDownloadPrompt}}
  {{#modal-dialog
  translucentOverlay=true
  clickOutsideToClose=true
  container-class="modal-dialog"}}
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" {{action "hideDownloadPrompt"}}>&times;</button>
      <h4 class="modal-title">Download Explain</h4>
    </div>
    <div class="modal-body">
      <p class="lead">File Name:</p>
      {{input class="form-control path-name" type="text" value=downloadFileName}}
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" {{action "hideDownloadPrompt"}}>Cancel</button>
      <button type="button" class="btn btn-success" {{action "downloadExplain"}}>OK</button>
    </div>
  </div>
{{/modal-dialog}}

{{/if}}

{{yield}}
