{{!
 *   HORTONWORKS DATAPLANE SERVICE AND ITS CONSTITUENT SERVICES
 *
 *   (c) 2016-2018 Hortonworks, Inc. All rights reserved.
 *
 *   This code is provided to you pursuant to your written agreement with Hortonworks, which may be the terms of the
 *   Affero General Public License version 3 (AGPLv3), or pursuant to a written agreement with a third party authorized
 *   to distribute this code.  If you do not have a written agreement with Hortonworks or with an authorized and
 *   properly licensed third party, you do not have any rights to this code.
 *
 *   If this code is provided to you under the terms of the AGPLv3:
 *   (A) HORTONWORKS PROVIDES THIS CODE TO YOU WITHOUT WARRANTIES OF ANY KIND;
 *   (B) HORTONWORKS DISCLAIMS ANY AND ALL EXPRESS AND IMPLIED WARRANTIES WITH RESPECT TO THIS CODE, INCLUDING BUT NOT
 *     LIMITED TO IMPLIED WARRANTIES OF TITLE, NON-INFRINGEMENT, MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE;
 *   (C) HORTONWORKS IS NOT LIABLE TO YOU, AND WILL NOT DEFEND, INDEMNIFY, OR HOLD YOU HARMLESS FOR ANY CLAIMS ARISING
 *     FROM OR RELATED TO THE CODE; AND
 *   (D) WITH RESPECT TO YOUR EXERCISE OF ANY RIGHTS GRANTED TO YOU FOR THE CODE, HORTONWORKS IS NOT LIABLE FOR ANY
 *     DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, PUNITIVE OR CONSEQUENTIAL DAMAGES INCLUDING, BUT NOT LIMITED TO,
 *     DAMAGES RELATED TO LOST REVENUE, LOST PROFITS, LOSS OF INCOME, LOSS OF BUSINESS ADVANTAGE OR UNAVAILABILITY,
 *     OR LOSS OR CORRUPTION OF DATA.
}}

<div class="query-diff">
	<div style="clear:both"></div>
	<div id="query-details" class="target">
		<div class="diff-panel">{{query-details query=model.query1 title="A"}}</div>
		<div class="diff-panel">{{query-details query=model.query2 title="B"}}</div>
		<div class="query-diff-highlighter" style="clear:both;">
			{{query-text-diff query1=model.query1.query query2=model.query2.query}}
		</div>
	</div>
    <div>
	    {{vs-exp-diff explainPlan1=query1 explainPlan2=query2 planId1="vs-exp-container1" planId2="vs-exp-container2"}}
    </div>
    {{outlet 'configs'}}
    {{outlet 'timeline'}}
	{{#if (not isDAGEmpty)}}
		<div id="dag-panel" class="target detail-panel dag-panel">

      <div class="row">
        <div class="col-xs-6">
          {{#if (gt model.query1.dags.length 1)}}
            <select value={{model.query1.dags.0.dagInfo.dagId}}
                class="form-control"
                onchange={{action "dagSelected1" value="target.value"}}>
              {{#each model.query1.dags as |dag|}}
                <option value={{dag.dagInfo.dagId}}>{{dag.dagInfo.dagId}}</option>
              {{/each}}
            </select>
            <br/>
          {{/if}}
        </div>
        <div class="col-xs-6">
          {{#if (gt model.query2.dags.length 1)}}
            <select value={{model.query2.dags.0.dagInfo.dagId}}
                class="form-control"
                onchange={{action "dagSelected2" value="target.value"}}>
              {{#each model.query2.dags as |dag|}}
                <option value={{dag.dagInfo.dagId}}>{{dag.dagInfo.dagId}}</option>
              {{/each}}
            </select>
            <br/>
          {{/if}}
        </div>

			</div>

		  {{#bs-tab as |tab|}}

		    {{#tab.pane title="DAG SWIMLANE"}}
		      {{outlet 'dag-swimlane'}}
		    {{/tab.pane}}

		    {{#tab.pane title="DAG FLOW"}}
		      {{outlet 'dag-graphical-view'}}
		    {{/tab.pane}}

		    {{#tab.pane title="DAG COUNTERS"}}
		      {{outlet 'dag-counters'}}
		    {{/tab.pane}}

		    {{#tab.pane title="DAG CONFIGURATIONS"}}
		      {{outlet 'dag-configs'}}
		    {{/tab.pane}}

		  {{/bs-tab}}
		</div>
	{{/if}}
</div>


