{{!
 *   HORTONWORKS DATAPLANE SERVICE AND ITS CONSTITUENT SERVICES
 *
 *   (c) 2016-2018 Hortonworks, Inc. All rights reserved.
 *
 *   This code is provided to you pursuant to your written agreement with Hortonworks, which may be the terms of the
 *   Affero General Public License version 3 (AGPLv3), or pursuant to a written agreement with a third party authorized
 *   to distribute this code.  If you do not have a written agreement with Hortonworks or with an authorized and
 *   properly licensed third party, you do not have any rights to this code.
 *
 *   If this code is provided to you under the terms of the AGPLv3:
 *   (A) HORTONWORKS PROVIDES THIS CODE TO YOU WITHOUT WARRANTIES OF ANY KIND;
 *   (B) HORTONWORKS DISCLAIMS ANY AND ALL EXPRESS AND IMPLIED WARRANTIES WITH RESPECT TO THIS CODE, INCLUDING BUT NOT
 *     LIMITED TO IMPLIED WARRANTIES OF TITLE, NON-INFRINGEMENT, MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE;
 *   (C) HORTONWORKS IS NOT LIABLE TO YOU, AND WILL NOT DEFEND, INDEMNIFY, OR HOLD YOU HARMLESS FOR ANY CLAIMS ARISING
 *     FROM OR RELATED TO THE CODE; AND
 *   (D) WITH RESPECT TO YOUR EXERCISE OF ANY RIGHTS GRANTED TO YOU FOR THE CODE, HORTONWORKS IS NOT LIABLE FOR ANY
 *     DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, PUNITIVE OR CONSEQUENTIAL DAMAGES INCLUDING, BUT NOT LIMITED TO,
 *     DAMAGES RELATED TO LOST REVENUE, LOST PROFITS, LOSS OF INCOME, LOSS OF BUSINESS ADVANTAGE OR UNAVAILABILITY,
 *     OR LOSS OR CORRUPTION OF DATA.
}}

<div class="dag-panel">
  {{fixed-anchor-nav anchors=queryDetailsTabsMod querymodel=querymodel}}
  {{#bs-tab fade=false as |tab|}}

    {{#tab.pane title="QUERY INFO"}}
      <div id="query-details" class="target detail-panel">
        <div class="row">
          <div class="col-md-12">
            <div class="query-title">Query Details</div>
          </div>
        </div>
        <div class="row" >
            <div class="col-md-4">
              <div class="query-details-row">
                <label class="query-details-label">Query ID</label>
                <div class="query-details-value">{{txt querymodel.queryId}}</div>
              </div>

              <div class="query-details-row">
                <label class="query-details-label">User</label>
                <div class="query-details-value">{{txt querymodel.requestUser}}</div>
              </div>

              <div class="query-details-row">
                <label class="query-details-label">Status</label>
                <div class="query-details-value">{{em-table-status-cell content=querymodel.status}}</div>
              </div>

              <div class="query-details-row">
                <label class="query-details-label">Start Time</label>
                <div class="query-details-value">{{date-formatter content=querymodel.startTime}}</div>
              </div>

              <div class="query-details-row">
                <label class="query-details-label">End Time</label>
                <div class="query-details-value">{{date-formatter content=querymodel.endTime}}</div>
              </div>

              <div class="query-details-row">
                <label class="query-details-label">Duration</label>
                <div class="query-details-value">{{txt querymodel.duration type="duration"}}</div>
              </div>

              <div class="query-details-row">
                <label class="query-details-label">Tables Read</label>
                <div class="query-details-value">
                  {{#if querymodel.tablesReadWithDatabase}}
                    {{querymodel.tablesReadWithDatabase}}
                  {{else}}
                    <span class="txt-message"> Not Available! </span>
                  {{/if}}
                </div>
              </div>

              <div class="query-details-row">
                <label class="query-details-label">Tables Written</label>
                <div class="query-details-value">
                  {{#if querymodel.tablesWrittenWithDatabase}}
                    {{querymodel.tablesWrittenWithDatabase}}
                  {{else}}
                    <span class="txt-message"> Not Available! </span>
                  {{/if}}
                </div>
              </div>

              <div class="query-details-row">
                <label class="query-details-label">Application ID</label>
                <div class="query-details-value">
                  {{#if querymodel.appIds.length}}
                    {{querymodel.appIds}}
                  {{else}}
                    <span class="txt-message"> Not Available! </span>
                  {{/if}}
                </div>
              </div>

              <div class="query-details-row">
                <label class="query-details-label">DAG ID</label>
                <div class="query-details-value">
                  {{#if querymodel.dagIds.length}}
                    {{querymodel.dagIds}}
                  {{else}}
                    <span class="txt-message"> Not Available! </span>
                  {{/if}}
                </div>
              </div>

              <div class="query-details-row">
                <label class="query-details-label">Session ID</label>
                <div class="query-details-value">
                  {{txt querymodel.sessionId}}
                </div>
              </div>

              {{#if querymodel.llapAppId}}
                <div class="query-details-row">
                  <label class="query-details-label">LLAP App ID</label>
                  <div class="query-details-value">
                    {{txt querymodel.llapAppId}}
                  </div>
                </div>
              {{/if}}

              <div class="query-details-row">
                <label class="query-details-label">Thread Id</label>
                <div class="query-details-value">
                  {{txt querymodel.threadId}}
                </div>
              </div>

              <div class="query-details-row">
                <label class="query-details-label">Queue</label>
                <div class="query-details-value">
                  {{#if (not querymodel.queueName)}}
                    None
                  {{else}}
                    {{txt querymodel.queueName}}
                  {{/if}}
                </div>
              </div>

            </div>
            <div class="col-md-8">
              {{caller-info title="Query Text" type="Hive" info=querymodel.query editQuery="editQuery"}}
            </div>
        </div>
      </div>
      &nbsp;
      {{#if querymodel.details.diagnostics}}
        <div class="panel panel-danger">
          <div class="panel-heading">DAG Diagnostics</div>
          <div class="diagnostics">{{{querymodel.details.diagnostics}}}</div>
        </div>
      {{/if}}
    {{/tab.pane}}

    {{#tab.pane title="VISUAL EXPLAIN"}}
      {{outlet 'visual-explain'}}
    {{/tab.pane}}

    {{#tab.pane title="QUERY CONFIG"}}
      {{outlet 'configs'}}
    {{/tab.pane}}

    {{#tab.pane title="TIMELINE"}}
      {{outlet 'timeline'}}
    {{/tab.pane}}

  {{/bs-tab}}
</div>

{{#if (not isDAGEmpty)}}
  <br/>
  <div id="dag-panel" class="target detail-panel dag-panel">

    {{#if (gt querymodel.dags.length 1)}}
      <select value={{querymodel.dags.0.dagInfo.dagId}}
          class="form-control"
          onchange={{action "dagSelected" value="target.value"}}>
        {{#each querymodel.dags as |dag|}}
          <option value={{dag.dagInfo.dagId}}>{{dag.dagInfo.dagId}}</option>
        {{/each}}
      </select>
      <br/>
    {{/if}}

    {{#bs-tab fade=false as |tab|}}

      {{#tab.pane title="DAG INFO"}}
        {{outlet 'dag-swimlane'}}
      {{/tab.pane}}

      {{#tab.pane title="DAG FLOW"}}
        {{outlet 'dag-graphical-view'}}
      {{/tab.pane}}

      {{#tab.pane title="DAG COUNTERS"}}
        {{outlet 'dag-counters'}}
      {{/tab.pane}}

      {{#tab.pane title="DAG CONFIGURATIONS"}}
        {{outlet 'dag-configs'}}
      {{/tab.pane}}

    {{/bs-tab}}
  </div>
{{/if}}
